[Desktop Entry]
Name={{ bwrap_firefox_desktop_name }}
Comment={{ bwrap_firefox_desktop_comment }}
Exec={{ bwrap_firefox_launcher_path }} %u
Icon=firefox-esr
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
